
.ramayan option{
    align-items: end;
    padding: 10px;
}.section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  #section1,
  #section3 {
    text-align: center;
  }
  
  #section2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-container {
    display: flex;
    justify-content: space-between;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .select-wrapper {
    margin-bottom: 20px;
  }