/* ContactUs.css */

.contact-container {
    max-width: 90vw;
    margin: 10vh auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title_social {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  
  .title_social h1 {
    color: #231818;
    font-size: 21px;
    margin-bottom: 20px;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social {
    /* background-color: #3498db; */
    color: black;
    font-size: 25px;
    /* color: white; */
    border-radius: 50%;
    padding: 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .social:hover {
    background-color: #297fb91f;
  }
  
  .head {
    text-align: center;
    margin-bottom: 20px;
  }
.developers-section h2{
    text-align: center;
}
.developer-card {
    display: flex;
    width: 45vw;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.developer-cards{
    display: flex;
}
  .developer-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .developer-info {
    flex: 1;
  }
  
  .name {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contributions {
    color: #777;
  }
  
  .copyright-section p{
    text-align: center;
    color: rgb(0, 80, 123);
    font-weight: 500;
  }

  @media screen and (max-width: 767px) {
    .contact-container {
      width: 90vw;
      justify-content: center;
      align-items: center;
      margin: 10vh auto;
      padding: 20px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .title_social {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
    }
    
    .title_social h1 {
      color: #231818;
      font-size: 19px;
      /* margin-bottom: 20px; */
    }
    
    .contact-links {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .social {
      /* background-color: #3498db; */
      color: black;
      font-size: 25px;
      /* color: white; */
      border-radius: 50%;
      padding: 15px;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .social:hover {
      background-color: #297fb91f;
    }
    
    .head {
      text-align: center;
      margin-bottom: 20px;
    }
    .developer-cards{
      display: flex;
      gap: 2vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  .developers-section h2{
      text-align: center;
  }
  .developers-section{
    /* gap: 3vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .developer-card {
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin: auto;
      /* gap: 5vh; */
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .developer-image {
      margin-bottom: 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-right: 20px; */
    }
    
    .developer-info {
      width: 70vw;
    }
    .developer-info p{
      width: 100%;
    }
    
    .name {
      font-weight: bold;
      color: #333;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .contributions {
      color: #777;
    }
    
    .copyright-section p{
      text-align: center;
      color: rgb(0, 80, 123);
      font-weight: 500;
    }
    
  }
  @media (min-width: 768px) and (max-width: 991px){
    .contact-container {
      width: 90vw;
      justify-content: center;
      align-items: center;
      margin: 10vh auto;
      padding: 20px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .title_social {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
    }
    
    .title_social h1 {
      color: #231818;
      font-size: 19px;
      /* margin-bottom: 20px; */
    }
    
    .contact-links {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .social {
      /* background-color: #3498db; */
      color: black;
      font-size: 25px;
      /* color: white; */
      border-radius: 50%;
      padding: 15px;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .social:hover {
      background-color: #297fb91f;
    }
    
    .head {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .developer-cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      justify-content: center;
      margin: auto;
    }
  .developers-section h2{
      text-align: center;
  }
  .developer-card {
      display: flex;
      /* flex-direction: column; */
      /* gap: 5vh; */
      width: 90%;
      align-items: center;
      margin: 20px;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .developer-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
    }
    
    .developer-info {
      width: 70vw;
    }
    .developer-info p{
      width: 100%;
    }
    
    .name {
      font-weight: bold;
      color: #333;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .contributions {
      color: #777;
    }
    
    .copyright-section p{
      text-align: center;
      color: rgb(0, 80, 123);
      font-weight: 500;
    }
  }