/* body{
  height: 100%;
} */

.selection{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 9vh;
  margin-right: 20px;

}


@media (max-width: 767px) {
  .selection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-top: 9vh;
    margin-right: 20px;
  
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .selection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-top: 9vh;
    margin-right: 20px;
  
  }
}